/target/
.project
.classpath
.settings/
/serviceregistry/.factorypath
/serviceregistry/*.log
/serviceorchestration-dynamic/.factorypath
/serviceorchestration-dynamic/*.log
/serviceorchestration-dynamic.log
/serviceorchestration-simple/.factorypath
/serviceorchestration-simple/*.log
.checkstyle
*.lck
/authentication/.factorypath
/authentication/authentication.log
/consumer-authorization/.factorypath
/consumer-authorization/consumer-authorization.log
.idea
*.iml